.heading-1 {
    background: black;
    color: white;
    text-align: center;
}

.container {
    display: flex;
}

.div-1 {
    flex-basis: 0;
    flex-grow: 1;
}

.pitbull {
    width: 100%;
}

.about-me {
    margin: 0;
}

.div-2 {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 15px;
}

.div-3 {
    flex-basis: 0;
    flex-grow: 1;
}

.contact-info {
    margin: 0;
}